@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Where To Watch</h1>
    <p>Find out where your favorite movies and TV shows are streaming.</p>
</div>
